header.web-header {
  background-color: #f8f8f8;
  padding: 15px 0;
  ._dropdown {
    i.icon {
      font-size: 1.3em;
    }
  }
  .users {
    i.dropdown {
      margin: 0 .3em 0 !important;
    }
  }
  .searched{
    flex-grow: 1 !important;
    form{
      width: 300px;
      margin: auto;
    }
  }
  .logo{
    margin: 0!important;
    padding: 0!important;
    width: 180px;
    img{
      width: 100% !important;
    }
    &:hover{
      background: transparent!important;
    }
  }
}

nav#nav-menu{
  border-bottom: 2px solid red!important;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-shadow:  0px 5px 15px #d4d4d4;
  -moz-box-shadow: 0px 5px 15px #d4d4d4;
  box-shadow: 0px 5px 15px #d4d4d4;
}

footer.web-footer{
  .rights{
    font-size: 12px;
    color: #ccc;
    word-spacing: 2px;
  }
}